extends layout

block content
  h1 #{name}:
  p Teams:
  ul
    each team in train
      li
        a(href="##{team.Name}") #{team.Name}

  br

  each team, index in teams
    p
      a(id="#{index}")
      | #{index}
    ul
      each user in team
        li
          a(href='http://wwwin-tools.cisco.com/dir/details/#{user.username}') #{user.DisplayName}  (#{user.Role})
          img(src='http://wwwin.cisco.com/dir/photo/std/#{user.username}.jpg')
  br
  p
    | Report any issue to:
    a(href="mailto:paulvand@cisco.com") paulvand&#64;cisco.com
